 Question: <%= @question.title %>

<form method='post' action='/seesurvey'>
  <input type='text' placeholder='possible answer' name='answer_choice1'>
  <br>
  <input type='text' placeholder='possible answer' name='answer_choice2'>
  <br>
  <input type='text' placeholder='possible answer' name='answer_choice3'>
  <br>
  <input type='hidden' name="question_id" value='<%= @question.id %>'>
  <input type='submit' value="add these answers">
</form>