<div>
  Survey Title: <%= @survey.title %>
<form id= "question_form" method='post' action='/question_new'>
  Question: <input type="text" name="question">
  <input type='submit' value="add this question">
  <br>
</form>
<div>