<script src="/js/create_survey.js"></script>

<div class="container">
  <form id='survey_form' method='post' action='/create'>
    <div id="survey_title">
  Survey Title: <input type="text" name="title">
  <input type="submit" name="Create Survey!">
</div>
</form>

  

  <!-- Answers: <input type="text" name="answer1"><br>
  Answers: <input type="text" name="answer2"><br>
  Answers: <input type="text" name="answer3"><br>
  Answers: <input type="text" name="answer4"><br>
   -->
  

 <!--  </form> -->


</div>
