
<script src="/js/create_survey.js"></script>

<div class="container">
  <div class="appender">
    <form id='survey_form' method='post' action='/create'>
      <div id="survey_title">
        Survey Title: <input type="text" name="title">
        <input type="submit" name="Create Survey!">
      </div>
    </form>
  </div>

</div>
