<div class ="container">
<!-- <center><h1>Welcome to Sock Monkey Survey!</h1></center> -->
<center><strong>Dashboard</strong></center>


<center><form method='post' action='/create'>
	<input type='submit' value='Create Survey'>

</form></center>


<!-- turn list below into links -->


<% Survey.all.each do |survey| %>
<p><%= survey.title %></p>
<% end %>

</div>