<div class ="container">
<!-- <center><h1>Welcome to Sock Monkey Survey!</h1></center> -->
<center><strong>Dashboard</strong></center>


<center><form method='get' action='/create'>
	<input type='submit' value='Create Survey'>

</form></center>


<!-- turn list below into links -->


<% @surveys.each do |survey| %>
<p><a href='/seesurvey/<%= survey.id%>'> <%= survey.title %></a> </p>
<% end %>

</div>

