<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

   <div class="header">
    <div id = "image"><img src="monkey.png" alt="monkey" ></div>
   
        <div id = "image"><img src="logo_v3 .jpg" alt="log" ></div>

  <h3><a href="/dashboard">Home</a></h3>

  <% if current_user %>
  <h3><a href='/logout'>Logout</a></h3>
  <center> <h4>Welcome back!: <br><br><%= current_user.username %></a></h4></center>
  <% else %>
  <h3><a href="/login">Login</a></h3>
  <% end %>
</div>

<%= yield %>
<div class ="footer">
</div>
</body>
</html>
