<div class ="container">
<form action='/login' method='POST' >
 Username: 
  <input type='text' name='username' placeholder='username'>

Password: 
  <input type='password' name='password' placeholder='password'>
  <br><br>

  <input type='submit' value='Log In' id="login-submit"> 
</form>

<br>

<a href="/signup" target="_blank">Need to create an account?</a>
</div>