
<div class ="container">
 <form action='/new_account' method='POST'>
  <h3>Create your account:</h3>

  
  <label>Username: </label>
  <input type='text' name='username' placeholder='username'/>

  <label>Password:</label>
  <input type='password' name='password' placeholder='password'/>
  
  <br><br>
  <input type='submit' value='Sign Up'/> 

</form>
</div>
