<div class="container">
  <h3> Statistics</h3>
  <br>
    
       <strong><p>You chose:</p></strong>
      <p><%= @answer_chosen.title %></p>
      
    <br>
    <a href="/dashboard"<button>Dashboard</button>></a>
</div>
